html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}


.site-content {
	@include md {
		padding-top: 100px;
	}
}

.vert-align {
	position: absolute;
	text-align: center;
	top: 50%;
	width: calc(100% - 30px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.paginate {
  border-top: 3px solid #2C384E;
  display: inline-block;
	padding-left: 0 !important;
  margin: 22px 0;
	&_wrap {
		background: #2C384E;
		padding: 10px;
		color: #fff;
		display: inline-block;
		a {
			color: #fff;
		}
		.current {
			font-weight: 700;
		}
		.page-numbers {
			padding: 3px 0 3px 5px;
		}
		a.next, a.prev {
			border: none;
		}
	}
}

@import "tables";

@import "cookies";
